@keyframes hero-title-intro {

  0% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  33.333% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  66.667% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }

}

@keyframes hero-date-intro {

  0% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  66.667% {
    opacity: 1;
  }

  83.333% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }

}

@keyframes hero-badge-intro {

  0% {
    opacity: 0;
  }

  66.667% {
    opacity: 0;
  }

  83.333% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

@keyframes hero-balloon-loop {

  0% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  12.5% {
    opacity: 1;
  }

  37.5% {
    opacity: 1;
  }

  50% {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  100% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

}
