@keyframes hero-title-intro {

  0% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  33.333% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  66.667% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }

}

@keyframes hero-date-intro {

  0% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.5, 0.5);
    opacity: 0;
  }

  66.667% {
    opacity: 1;
  }

  83.333% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }

}

@keyframes hero-badge-intro {

  0% {
    opacity: 0;
  }

  66.667% {
    opacity: 0;
  }

  83.333% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }

}

@keyframes hero-balloon-01-loop {

  0% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  8.333% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  33.333% {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  66.667% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  91.667% {
    opacity: 1;
  }

  100% {
    transform: translate(0%, -100%);
    opacity: 0;
  }

}

@keyframes hero-balloon-02-loop {

  16.667% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  41.667% {
    opacity: 1;
  }

  50% {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  100% {
  }

}

@keyframes hero-balloon-03-loop {

  33.333% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  41.667% {
    opacity: 1;
  }

  58.333% {
    opacity: 1;
  }

  66.667% {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  100% {
  }

}

@keyframes hero-balloon-04-loop {

  50% {
    transform: translate(0%, 100%);
    opacity: 0;
  }

  58.333% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  83.333% {
    transform: translate(0%, -100%);
    opacity: 0;
  }

  100% {
  }

}
